set NERDTree

" highlight search results
set hlsearch

" visible lines above/below cursor
set scrolloff=5

let mapleader = "\<SPACE>"

" clear the search buffer when hitting return
nnoremap <silent> <CR> :noh<CR>

nmap <leader>s :action SearchEverywhere<CR>
nmap <leader>r :action RenameElement<CR>
nmap <leader>f :action ReformatCode<CR>
nmap <leader>o :action OptimizeImports<CR>
nmap <leader>. :action ShowIntentionActions<CR>
vmap <leader>. :action ShowIntentionActions<CR>
nmap <leader>u :action ShowUsages<CR>
nmap <leader>g :action GotoImplementation<CR>
nmap <leader>e :NERDTree<CR>
nmap <leader>t :action ActivateTerminalToolWindow<CR>
nmap <leader>i :action ParameterInfo<CR>
nmap <leader>d :action ShowErrorDescription<CR>
nmap <leader>n :action GotoNextError<CR>
nmap <leader>p :action GotoPreviousError<CR>
nmap <leader>b :action ToggleLineBreakpoint<CR>
nmap <leader>9 :action Debug<CR>
nmap <leader>0 :action Stop<CR>
nmap <leader>c :action CommentByLineComment<CR>
vmap <leader>c :action CommentByLineComment<CR>
nmap <leader>x :action HideAllWindows<CR>